{
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "require": [
      "babel-core/register"
    ],
    "sourceMap": false,
  "instrument": false,
  "extends": "@istanbuljs/nyc-config-babel"
}